################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gas_By_Gas_API/.vs/Gas_By_Gas_API
